<div class="content-title d-flex justify-content-between">
  <div class="title text-bold h4">
    <i class="fas fa-user-edit"></i>
    <%= t ".title" %>
  </div>
</div>
<%= render "form", user: @user, url: trainers_user_path(@user), notice: t("trainers.users.edit.label_saving") %>
