<div class="content-title d-flex justify-content-between">
  <div class="title text-bold h4">
    <i class="fas fa-user-plus"></i>
    <%= t ".title" %>
  </div>
</div>
<%= render "form", user: @user, url: trainers_users_path, notice: t("trainers.users.new.label_saving") %>
