<form class="col-md-4 offset-md-4">
  <div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" placeholder="<%= t "both.search_placeholder" %>" aria-describedby="basic-search">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-search"><%= icon "fas", "search" %></span>
    </div>
  </div>
</form>
