<% provide :sub_title, t(".sub_title") %>
<div id="subject-info">
  <%= render "subject_info", course: @course, subject: @subject %>
</div>
<div id="subject-progress">
  <%= render "progress", user: current_user, course: @course, subject: @subjects %>
</div>
