<% provide :sub_title, t(".sub_title") %>
<div id="subject-info">
  <%= render "subject_info", locals: {course: @course, subject: @subject} %>
</div>
<div id="subject-progress">
  <%= render "progress", locals: {user: current_user, course: @course, subject: @subjects} %>
</div>
