<tr>
  <th scope="row">
    <%= link_to trainers_course_user_course_path course, item do %>
      <%= item.name %>
    <% end %>
  </th>
  <% item.user_course_subject.task_done.each do |task| %>
    <td><%= task.task_done %></td>
  <% end %>
</tr>
