<tr>
  <th scope="row">
    <%= link_to trainers_course_user_course_path course, item do%>
      <%= item.name %>
    <% end %>
  </th>
  <% item.task_done(course.id).each do |task| %>
    <% task_percent = progress_color task.task_done, task.subject_id %>
    <td class="text-light text-center border-right <%= task_percent[:color] %>"><%= task_percent[:percent] %>%</td>
  <% end %>
</tr>
