<li class="media col-md-6">
  <div class="media-body border-bottom py-3">
    <h5 class="mt-0"><%= item.name %></h5>
  </div>
  <%= hidden_field_tag "course[user_courses_attributes][#{item.id}][user_id]", item.id, class: "trainees"%>
</li>
