$border_grey: rgba(0, 0, 0, .1);
$text_black: black;
$login_background: rgb(240, 242, 245);
$header_background: rgb(233,235,238);
$eee: #eee;
$white_background: white;
$text_danger: red;
$border_table_user: #DDEFEF;
$border_color_error: #dc3545;
$color_bg_table_user: #336B6B;
