@import 'colors';

body {
  background-color: $login_background!important;
}

// HEADER
.sun-logo {
  height: 30px;
}

.sun-logo-login {
  height: 40px;
}

.avatar {
  height: 30px;
  border-radius: 5px;
}

.navbar {
  padding: 0em;
}

.navbar-brand {
  padding: 0.75em 0em;
  margin-right: 0em;
}

#navbarNav {
  padding-right: 1em;
}

#notifications {
  .notify-avatar {
    border-radius: 50%;
    height: auto;
    width: 100%;
  }

  .dropdown-menu {
    padding: 0em;
    margin-right: 0.25em;
    font-size: smaller;

    .message-noti {
      max-width: 300px;
    }
  }

  .dropdown-item {
    padding: 0.25em 0.5em;
  }

  .notify-body {
    padding: 0.25em 0.75em;
  }

  .notify-content {
    margin-bottom: 0px;
  }
}

#profile {
  .dropdown-item {
    padding: 0.25em 1em;

    span {
      margin-left: 0.5em;
    }
  }
}

.notifications.new {
  margin-right: 1em;
}

// SIDEBAR
.bd-sidebar {
  border-right: 1px solid $border_grey;
  padding: 0em;
  min-height: 100vh;
}

#side-bar {
  padding-top: 0.75em;

  .nav-item {
    padding: 0.25em 0.25em 0em;

    .nav-link {
      color: $text_black;

      >span {
        padding-left: 0.5em;

        .fas.fa-angle-down{
          padding-top: 0.25em;
        }
      }
    }
  }
}

// MAIN
#side-main {
  margin: 0em;

  #main {
    padding-left: 0em;
    padding-right: 0em;
  }
}

#content {
  padding: 2em;
  min-height: 100vh;
}

#footer {
  padding: 1em;
  border-top: solid 1px $border_grey;
}

#login-side {
  margin-top: 15%;
}

.label-required::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

#list-trainee li:hover {
  background: $eee;
  cursor: pointer;
}

#img-preview {
  width: 200px;
  height: 200px;
}

#list-subjects li:hover {
  cursor: pointer;
  background: $eee;
}

.avatar-subject {
  width: 150px;
}

.avatar-user {
  width: 75px;
  height: 75px;
}

.zui-table thead th {
  background-color: $border_table_user;
  border: none;
  color: $color_bg_table_user;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px white;
  white-space: nowrap;
}

.zui-table tbody td {
  border-bottom: solid 1px $border_table_user;
  padding: 10px;
  text-shadow: 1px 1px 1px white;
  white-space: nowrap;
}

.zui-wrapper {
  position: relative;
}

.zui-scroller {
  margin-left: 200px;
  margin-right: 100px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
}

.zui-table .zui-sticky-col {
  border-left: solid 1px $border_table_user;
  border-right: solid 1px $border_table_user;
  left: 0;
  position: absolute;
  top: auto;
  width: 200px;
}

.zui-table .zui-sticky-col-right {
  border-left: solid 1px $border_table_user;
  border-right: solid 1px $border_table_user;
  right: 0;
  position: absolute;
  top: auto;
  width: 100px;
}

.trash-user {
  cursor: pointer;
}

.field_with_errors .form-control {
  border-color: $border_color_error;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $border_color_error
}
