@import '../colors';

a:hover, :link {
  text-decoration: none !important;
}

.content-title {
  border-bottom: 1px solid $border_grey;
}

.item {
  padding-right: 0em;
  padding-left: 0em;

  .card-img-top {
    height: 15em;
    position: relative;
  }

  .course-status {
    position: absolute;
    top: 0.5em;
    left: 0.5em;

    .badge {
      font-size: 100%;
    }
  }

  .card-body {
    border-bottom: 0.25px solid $border_grey;
  }

  .info {
    padding: 1.25em;
  }
}

#course-info, #subject-info, #course-subject-info {
  background: $white_background;
  padding: 0.75em;
  border-radius: 0.75em;

  .course-info-details {
    font-size: 1.25rem;

    .end-date {
      color: $text_danger;
    }
  }

  .subject-info-details {

    .end-date {
      color: $text_danger;
    }

    .progress-bar {
      height: 1em;
      border-radius: 1.25em;
    }
  }
}

.tab-content{
  background-color: $white_background;

  .badge-status {
    height: 3em;
    width: 3em;
  }
}
