<div class="modal fade" id="subjectEdit" tabindex="-1" role="dialog" aria-labelledby="subjectEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success text-uppercase" id="subjectEditLabel">
          <%= t ".modal_edit_title" %>
        </h5>
        <%= link_to "", type: "button", class: "close", "data-dismiss": "modal" do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
      </div>
      <div class="modal-body">
        <%= render "form", subject: subject %>
      </div>
    </div>
  </div>
</div>
